Repository jump-dev/MathOptInterface.jl, pull requests merged in 2019-07, with the labels that each got.

#775 Add MOI.submit to add attribute
  docs/src/apireference.md
  src/attributes.jl
Labels: breaking

#777 Add CachingOptimizer in doc
  docs/src/apimanual.md
  docs/src/apireference.md
  src/Benchmarks/Benchmarks.jl
  src/Utilities/cachingoptimizer.jl
Labels: Utilities

#784 Fix type piracy with MOIU.operate
  src/Utilities/functions.jl
Labels: bug

#616 ✨ Add vcat for SingleVariable and VectorOfVariables
  src/Bridges/Constraint/geomean.jl
  src/Utilities/functions.jl
  test/Bridges/Constraint/geomean.jl
  test/Utilities/functions.jl
Labels: Utilities, enhancement
