Repository jump-dev/MathOptInterface.jl, pull requests merged in 2020-01, with the labels that each got.

#976 add nuclear norm and spectral norm cone sets (for general/nonsymmetric matrices)
  docs/src/apimanual.md
  docs/src/apireference.md
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/norm_spec_nuc_to_psd.jl
  src/FileFormats/MOF/MOF.jl
  src/FileFormats/MOF/read.jl
  src/FileFormats/MOF/v0.4.0.json
  src/FileFormats/MOF/write.jl
  src/Test/UnitTests/basic_constraint_tests.jl
  src/Test/contconic.jl
  src/Utilities/mockoptimizer.jl
  src/Utilities/model.jl
  src/sets.jl
  test/Bridges/Constraint/norm_spec_nuc_to_psd.jl
  test/Bridges/bridge_optimizer.jl
  test/Bridges/lazy_bridge_optimizer.jl
  test/FileFormats/MOF/MOF.jl
  test/Utilities/sets.jl
Labels: enhancement

#993 add relative entropy cone
  docs/src/apimanual.md
  docs/src/apireference.md
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/norm_to_lp.jl
  src/Bridges/Constraint/relentr_to_exp.jl
  src/FileFormats/MOF/MOF.jl
  src/FileFormats/MOF/read.jl
  src/FileFormats/MOF/v0.4.0.json
  src/FileFormats/MOF/write.jl
  src/Test/UnitTests/basic_constraint_tests.jl
  src/Test/contconic.jl
  src/Utilities/model.jl
  src/sets.jl
  test/Bridges/Constraint/relentr_to_exp.jl
  test/Bridges/bridge_optimizer.jl
  test/FileFormats/MOF/MOF.jl
  test/Utilities/sets.jl
Labels: Bridges, enhancement

#1005 Add support for EqualTo and Zero in Split bridge
  src/Bridges/Constraint/interval.jl
  src/Bridges/graph.jl
  test/Bridges/Constraint/interval.jl
  test/Bridges/bridge_optimizer.jl
  test/Bridges/lazy_bridge_optimizer.jl
Labels: Bridges
