Repository jump-dev/MathOptInterface.jl, pull requests merged in 2021-07, with the labels that each got.

#1421 Fix typo in docs
  docs/src/manual/variables.md
Labels: Type: Documentation

#1422 Re-organize documentation into tutorials section
  docs/make.jl
  docs/src/index.md
  docs/src/tutorials/example.md
  docs/src/tutorials/implementing.md
Labels: Type: Documentation

#1420 List model attributes in documentation
  docs/src/manual/models.md
  docs/src/manual/solutions.md
Labels: Type: Documentation

#1423 [Test] add test_nonlinear.jl
  src/Test/test_nonlinear.jl
Labels: Submodule: Tests

#1424 [Test] add test_linear.jl
  src/Test/test_linear.jl
Labels: Submodule: Tests

#1425 [Test] add test_quadratic.jl
  src/Test/test_quadratic.jl
Labels: Submodule: Tests

#1426 [Test] add content from contlinear.jl
  src/Test/test_linear.jl
Labels: Submodule: Tests

#1427 [Test] add test_conic
  src/Test/test_conic.jl
Labels: Submodule: Tests

#1428 [Test] various fixes to MOI.Test
  src/Test/test_constraint.jl
  src/Test/test_linear.jl
  src/Test/test_model.jl
  src/Test/test_modification.jl
  src/Test/test_nonlinear.jl
  src/Test/test_objective.jl
  src/Test/test_quadratic.jl
  src/Test/test_solve.jl
  test/Test/Test.jl
Labels: Submodule: Tests

#1432 Fix missing line in test_objective.jl
  src/Test/test_objective.jl
Labels: Submodule: Tests

#1430 [Utilities] Fix bug in ListOfConstraintAttributesSet
  src/Test/test_model.jl
  src/Utilities/model.jl
  test/Utilities/model.jl
Labels: Submodule: Utilities, Type: Bug

#1434 [Test] change MOI.OPTIMAL to config.optimal_status
  src/Test/Test.jl
  src/Test/test_linear.jl
  src/Test/test_objective.jl
  src/Test/test_solve.jl
Labels: Submodule: Tests

#1437 [Test] remove supports_optimize in favor of standard exclude
  docs/src/submodules/Test/overview.md
  src/Test/Test.jl
  src/Test/test_attribute.jl
  src/Test/test_modification.jl
  src/Test/test_objective.jl
Labels: Submodule: Tests

#1436 Migrate FileFormats to new tests
  test/FileFormats/NL/NL.jl
Labels: Submodule: Tests

#1440 [Utilities] style updates for UniversalFallback
  src/Utilities/universalfallback.jl
Labels: Submodule: Utilities

#1442 [Test] migrate Utilities/model.jl to new MOI.Test
  test/Utilities/model.jl
Labels: Submodule: Tests, Submodule: Utilities

#1441 Update the tests of UniversalFallback to new MOI.Test
  src/Utilities/universalfallback.jl
  test/Utilities/universalfallback.jl
Labels: Submodule: Tests, Submodule: Utilities

#1448 Migrate tests of Utilities/CleverDicts
  src/Utilities/CleverDicts.jl
  test/Utilities/CleverDicts.jl
Labels: Submodule: Utilities

#1450 Migrate functions.jl to modular test
  test/Utilities/functions.jl
Labels: Submodule: Tests, Submodule: Utilities

#1449 Migrate constraints.jl to modular test
  src/Utilities/constraints.jl
  test/Utilities/constraints.jl
Labels: Submodule: Utilities

#1455 Migrate tests of variables.jl
  test/Utilities/variables.jl
Labels: Submodule: Utilities

#1451 Migrate tests of lazy_iterators.jl
  src/Utilities/lazy_iterators.jl
  test/Utilities/lazy_iterators.jl
Labels: Submodule: Utilities

#1452 Migrate tests of sets.jl
  src/Utilities/sets.jl
  test/Utilities/sets.jl
Labels: Submodule: Utilities

#1453 Migrate tests of parser.jl
  src/Utilities/parser.jl
  test/Utilities/parser.jl
Labels: Submodule: Utilities

#1458 Refactor utility functions in test/Bridges
  test/Bridges/Constraint/det.jl
  test/Bridges/Constraint/flip_sign.jl
  test/Bridges/Constraint/functionize.jl
  test/Bridges/Constraint/geomean.jl
  test/Bridges/Constraint/geomean_to_relentr.jl
  test/Bridges/Constraint/indicator_sos.jl
  test/Bridges/Constraint/interval.jl
  test/Bridges/Constraint/ltgt_to_interval.jl
  test/Bridges/Constraint/norm_spec_nuc_to_psd.jl
  test/Bridges/Constraint/norm_to_lp.jl
  test/Bridges/Constraint/quad_to_soc.jl
  test/Bridges/Constraint/relentr_to_exp.jl
  test/Bridges/Constraint/rsoc.jl
  test/Bridges/Constraint/scalarize.jl
  test/Bridges/Constraint/semi_to_binary.jl
  test/Bridges/Constraint/slack.jl
  test/Bridges/Constraint/soc_to_nonconvex_quad.jl
  test/Bridges/Constraint/soc_to_psd.jl
  test/Bridges/Constraint/square.jl
  test/Bridges/Constraint/vectorize.jl
  test/Bridges/Constraint/zero_one.jl
  test/Bridges/Objective/functionize.jl
  test/Bridges/Objective/slack.jl
  test/Bridges/Variable/flip_sign.jl
  test/Bridges/Variable/free.jl
  test/Bridges/Variable/rsoc_to_psd.jl
  test/Bridges/Variable/rsoc_to_soc.jl
  test/Bridges/Variable/soc_to_rsoc.jl
  test/Bridges/Variable/vectorize.jl
  test/Bridges/Variable/zeros.jl
  test/Bridges/bridge_optimizer.jl
  test/Bridges/lazy_bridge_optimizer.jl
  test/Bridges/utilities.jl
Labels: Submodule: Bridges

#1460 [Test] document quadratic SOC test
  src/Test/test_quadratic.jl
Labels: Submodule: Tests, Type: Documentation

#1464 [Test] document how to debug a failing test
  docs/src/submodules/Test/overview.md
Labels: Submodule: Tests, Type: Documentation

#1466 [Test] various improvements to pass more by default
  src/Test/test_attribute.jl
  src/Test/test_constraint.jl
  src/Test/test_model.jl
  test/Utilities/cachingoptimizer.jl
  test/Utilities/model.jl
  test/Utilities/universalfallback.jl
Labels: Submodule: Tests

#1467 [Utilities] updates to sparse_matrix.jl
  docs/src/submodules/Utilities/reference.md
  src/Utilities/matrix_of_constraints.jl
  src/Utilities/sparse_matrix.jl
  test/Utilities/sparse_matrix.jl
Labels: Submodule: Utilities

#1478 Migrate tests of mutable_arithmetics.jl
  test/Utilities/mutable_arithmetics.jl
Labels: Submodule: Utilities

#1481 Migrate tests of Variable bridges
  src/Test/test_linear.jl
  test/Bridges/Variable/bridge.jl
  test/Bridges/Variable/flip_sign.jl
  test/Bridges/Variable/free.jl
  test/Bridges/Variable/map.jl
  test/Bridges/Variable/rsoc_to_psd.jl
  test/Bridges/Variable/rsoc_to_soc.jl
  test/Bridges/Variable/soc_to_rsoc.jl
  test/Bridges/Variable/vectorize.jl
  test/Bridges/Variable/zeros.jl
  test/Bridges/utilities.jl
Labels: Submodule: Bridges

#1468 Refactor box.jl
  docs/src/submodules/Utilities/overview.md
  docs/src/submodules/Utilities/reference.md
  src/Utilities/Utilities.jl
  src/Utilities/box.jl
  src/Utilities/model.jl
  src/Utilities/vector_bounds.jl
  test/Utilities/matrix_of_constraints.jl
  test/Utilities/model.jl
  test/Utilities/vector_bounds.jl
Labels: Submodule: Utilities

#1482 Move tests out of Utilities/model.jl
  src/Test/test_objective.jl
  test/Utilities/model.jl
  test/Utilities/vector_bounds.jl
Labels: Submodule: Tests, Submodule: Utilities

#1480 Migrate tests and fix bugs in objective bridges
  src/Bridges/Objective/slack.jl
  test/Bridges/Objective/functionize.jl
  test/Bridges/Objective/map.jl
  test/Bridges/Objective/slack.jl
Labels: Submodule: Bridges

#1484 Fix isapprox for empty terms
  src/functions.jl
  test/Bridges/Variable/zeros.jl
  test/FileFormats/SDPA/SDPA.jl
  test/functions.jl
Labels: Type: Bug

#1457 Migrate tests of matrix_of_constraints.jl
  src/Utilities/matrix_of_constraints.jl
  test/Utilities/matrix_of_constraints.jl
Labels: Submodule: Utilities

#1486 Migrate Bridge/Constraint tests to new Test
  src/Test/test_basic_constraint.jl
  test/Bridges/Constraint/bridge.jl
  test/Bridges/Constraint/det.jl
  test/Bridges/Constraint/flip_sign.jl
  test/Bridges/Constraint/functionize.jl
  test/Bridges/Constraint/geomean.jl
  test/Bridges/Constraint/geomean_to_relentr.jl
  test/Bridges/Constraint/indicator_activate_on_zero.jl
  test/Bridges/Constraint/indicator_sos.jl
  test/Bridges/Constraint/interval.jl
  test/Bridges/Constraint/ltgt_to_interval.jl
  test/Bridges/Constraint/map.jl
  test/Bridges/Constraint/norm_spec_nuc_to_psd.jl
  test/Bridges/Constraint/norm_to_lp.jl
  test/Bridges/Constraint/quad_to_soc.jl
  test/Bridges/Constraint/relentr_to_exp.jl
  test/Bridges/Constraint/rsoc.jl
  test/Bridges/Constraint/scalarize.jl
  test/Bridges/Constraint/semi_to_binary.jl
  test/Bridges/Constraint/slack.jl
  test/Bridges/Constraint/soc_to_nonconvex_quad.jl
  test/Bridges/Constraint/soc_to_psd.jl
  test/Bridges/Constraint/square.jl
  test/Bridges/Constraint/vectorize.jl
  test/Bridges/Constraint/zero_one.jl
Labels: Submodule: Bridges

#1487 Migrate lazy_bridge_optimizer to new tests
  test/Bridges/lazy_bridge_optimizer.jl
Labels: Submodule: Bridges

#1489 [docs] remove mention of DeprecatedTest
  docs/src/tutorials/implementing.md
Labels: Type: Documentation

#1446 Refactor DoubleDicts.jl
  docs/src/submodules/Utilities/overview.md
  docs/src/submodules/Utilities/reference.md
  src/Utilities/DoubleDicts.jl
  src/Utilities/cachingoptimizer.jl
  src/Utilities/copy/index_map.jl
  test/Utilities/DoubleDicts.jl
Labels: Submodule: Utilities

#1490 [Test] add test for scalar add_constrained_variables
  src/Test/test_variable.jl
  src/variables.jl
Labels: Submodule: Tests

#1493 [breaking] remove fallback for supporting free variables
  src/constraints.jl
Labels: breaking

#1492 [breaking] remove isapprox for SOS sets
  src/sets.jl
Labels: breaking

#1496 [docs] s/LaTex/LaTeX
  docs/src/submodules/Utilities/overview.md
Labels: Type: Documentation

#1501 [breaking] s/DataType/Type
  docs/src/reference/standard_form.md
  docs/src/submodules/Bridges/overview.md
  src/Bridges/Constraint/bridge.jl
  src/Bridges/Constraint/det.jl
  src/Bridges/Constraint/functionize.jl
  src/Bridges/Constraint/geomean.jl
  src/Bridges/Constraint/geomean_to_relentr.jl
  src/Bridges/Constraint/indicator_activate_on_zero.jl
  src/Bridges/Constraint/indicator_sos.jl
  src/Bridges/Constraint/interval.jl
  src/Bridges/Constraint/map.jl
  src/Bridges/Constraint/norm_spec_nuc_to_psd.jl
  src/Bridges/Constraint/norm_to_lp.jl
  src/Bridges/Constraint/quad_to_soc.jl
  src/Bridges/Constraint/relentr_to_exp.jl
  src/Bridges/Constraint/scalarize.jl
  src/Bridges/Constraint/semi_to_binary.jl
  src/Bridges/Constraint/set_map.jl
  src/Bridges/Constraint/slack.jl
  src/Bridges/Constraint/soc_to_nonconvex_quad.jl
  src/Bridges/Constraint/square.jl
  src/Bridges/Constraint/vectorize.jl
  src/Bridges/Constraint/zero_one.jl
  src/Bridges/Objective/bridge.jl
  src/Bridges/Objective/functionize.jl
  src/Bridges/Objective/slack.jl
  src/Bridges/Variable/bridge.jl
  src/Bridges/Variable/free.jl
  src/Bridges/Variable/map.jl
  src/Bridges/Variable/rsoc_to_psd.jl
  src/Bridges/Variable/set_map.jl
  src/Bridges/Variable/vectorize.jl
  src/Bridges/Variable/zeros.jl
  src/Bridges/bridge.jl
  src/Bridges/lazy_bridge_optimizer.jl
  src/Utilities/DoubleDicts.jl
  src/Utilities/functions.jl
  src/Utilities/matrix_of_constraints.jl
  src/Utilities/model.jl
  src/Utilities/product_of_sets.jl
  src/Utilities/struct_of_constraints.jl
  src/Utilities/universalfallback.jl
  src/Utilities/vector_bounds.jl
  src/Utilities/vector_of_constraints.jl
  src/instantiate.jl
  test/Bridges/lazy_bridge_optimizer.jl
  test/Utilities/model.jl
Labels: breaking

#1485 Refactor .objective field of Utilities.Model into a struct
  src/Utilities/Utilities.jl
  src/Utilities/model.jl
  src/Utilities/objective_function_container.jl
  src/Utilities/vector_of_constraints.jl
  test/Utilities/objective_function_container.jl
Labels: Submodule: Utilities, breaking

#1476 Add naming conventions.
  docs/make.jl
  docs/src/background/naming_conventions.md
Labels: Status: Review Needed, Type: Documentation

#1495 [breaking] Remove the Allocate-Load API
  docs/src/submodules/Utilities/overview.md
  docs/src/submodules/Utilities/reference.md
  docs/src/tutorials/implementing.md
  src/Utilities/copy.jl
  src/Utilities/copy/allocate_load.jl
  src/Utilities/mockoptimizer.jl
  src/Utilities/model.jl
  test/Utilities/copy.jl
  test/errors.jl
Labels: Submodule: Utilities, breaking
