Repository jump-dev/MathOptInterface.jl, pull requests merged in 2021-06, with the labels that each got.

#1384 Fix case typo in Tests doc
  docs/src/submodules/Test/overview.md
Labels: Submodule: Tests

#1385 Update docstring of WithType
  src/Utilities/DoubleDicts.jl
Labels: Submodule: Utilities, Type: Documentation

#1389 Add SOS constraints and fix variables that don't appear
  src/FileFormats/MPS/MPS.jl
  test/FileFormats/MPS/MPS.jl
  test/FileFormats/MPS/failing_models/sos.mps
Labels: Submodule: FileFormats

#1320 Add VariableBasisStatus
  docs/src/reference/variables.md
  src/Bridges/Constraint/slack.jl
  src/Test/config.jl
  src/Test/contlinear.jl
  src/Utilities/mockoptimizer.jl
  src/attributes.jl
  test/Bridges/Constraint/functionize.jl
  test/Bridges/Constraint/interval.jl
  test/Bridges/Constraint/slack.jl
  test/Test/contlinear.jl
  test/attributes.jl
Labels: breaking

#1386 EMPTY_OPTIMIZER mode after empty!
  docs/src/submodules/Utilities/overview.md
  src/Utilities/cachingoptimizer.jl
  test/Utilities/cachingoptimizer.jl
Labels: Submodule: Utilities

#1391 [FileFormats.MPS] Add support for OBJSENSE
  docs/src/submodules/FileFormats/overview.md
  src/FileFormats/MPS/MPS.jl
  test/FileFormats/MPS/MPS.jl
  test/FileFormats/MPS/free_integer.mps
  test/FileFormats/MPS/stacked_data.mps
Labels: Submodule: FileFormats

#1392 [FileFormats.MPS] Add support for objective constant
  src/FileFormats/MPS/MPS.jl
  test/FileFormats/MPS/MPS.jl
  test/FileFormats/MPS/failing_models/parse_items_single_1.mps
  test/FileFormats/MPS/failing_models/parse_items_single_2.mps
  test/FileFormats/MPS/failing_models/parse_items_single_3.mps
  test/FileFormats/MPS/failing_models/rhs_objective.mps
  test/FileFormats/MPS/stacked_data.mps
Labels: Submodule: FileFormats

#1401 [FileFormats.CBF] Refactor CBF module
  src/FileFormats/CBF/CBF.jl
  src/FileFormats/CBF/read.jl
  src/FileFormats/CBF/write.jl
  test/FileFormats/CBF/CBF.jl
Labels: Submodule: FileFormats

#1403 Improve error message of unsupported attributes in bridges
  src/Bridges/bridge.jl
  test/Bridges/Variable/zeros.jl
  test/Bridges/bridge_optimizer.jl
Labels: Submodule: Bridges

#1405 [Tests] Remove unnecessary whitespace
  src/Test/UnitTests/basic_constraint_tests.jl
  src/Test/UnitTests/constraints.jl
  src/Test/UnitTests/objectives.jl
  src/Test/UnitTests/solve.jl
  src/Test/UnitTests/variables.jl
  src/Test/contconic.jl
  src/Test/contlinear.jl
  src/Test/contquadratic.jl
  src/Test/intconic.jl
  src/Test/intlinear.jl
  src/Test/modellike.jl
  src/Test/nlp.jl
Labels: Submodule: Tests

#1408 Add the skeleton of the new MOI.Test submodule
  docs/make.jl
  docs/src/submodules/Test/overview.md
  docs/src/submodules/Test/reference.md
  src/MathOptInterface.jl
  src/Test/Test.jl
  test/Test/Test.jl
  test/runtests.jl
Labels: Submodule: Tests

#1410 [Test] Add test_variable.jl
  docs/src/submodules/Test/overview.md
  docs/src/submodules/Test/reference.md
  src/Test/Test.jl
  src/Test/test_attribute.jl
  src/Test/test_variable.jl
Labels: Submodule: Tests

#1413 [Test] add test_modification.jl
  src/Test/test_modification.jl
Labels: Submodule: Tests

#1415 [Test] add test_basic_constraint.jl
  src/Test/Test.jl
  src/Test/test_attribute.jl
  src/Test/test_basic_constraint.jl
  src/Test/test_variable.jl
Labels: Submodule: Tests

#1418 [Test] add test_solve.jl
  src/Test/test_solve.jl
Labels: Submodule: Tests

#1417 [Test] add test_constraint.jl
  src/Test/test_constraint.jl
  src/Test/test_modification.jl
Labels: Submodule: Tests

#1416 [Test] add test_objective.jl
  src/Test/test_objective.jl
Labels: Submodule: Tests

#1419 [Test] add test_model.jl
  src/Test/test_constraint.jl
  src/Test/test_model.jl
  src/Test/test_variable.jl
  src/Utilities/mockoptimizer.jl
  test/Test/Test.jl
Labels: Submodule: Tests
