Repository jump-dev/MathOptInterface.jl, pull requests merged in 2021-05, with the labels that each got.

#1305 [breaking] Rename ListOfConstraints -> ListOfConstraintTypesPresent
  docs/src/manual/implementing.md
  docs/src/reference/models.md
  docs/src/submodules/Bridges/overview.md
  src/Bridges/bridge_optimizer.jl
  src/FileFormats/MOF/write.jl
  src/FileFormats/utils.jl
  src/Test/contconic.jl
  src/Test/intconic.jl
  src/Test/modellike.jl
  src/Utilities/copy.jl
  src/Utilities/functions.jl
  src/Utilities/model.jl
  src/Utilities/results.jl
  src/Utilities/struct_of_constraints.jl
  src/Utilities/universalfallback.jl
  src/Utilities/vector_of_constraints.jl
  src/attributes.jl
  src/precompile.jl
  test/Bridges/Constraint/slack.jl
  test/Bridges/Variable/free.jl
  test/Bridges/bridge_optimizer.jl
  test/Bridges/utilities.jl
  test/Utilities/cachingoptimizer.jl
  test/Utilities/model.jl
  test/Utilities/universalfallback.jl
Labels: breaking

#1306 [breaking] Rename .variable_index fields to .variable
  src/Bridges/Constraint/indicator_activate_on_zero.jl
  src/Bridges/Constraint/indicator_sos.jl
  src/Bridges/Constraint/quad_to_soc.jl
  src/Bridges/Constraint/semi_to_binary.jl
  src/Bridges/bridge_optimizer.jl
  src/FileFormats/CBF/CBF.jl
  src/FileFormats/LP/LP.jl
  src/FileFormats/MOF/write.jl
  src/FileFormats/MPS/MPS.jl
  src/FileFormats/SDPA/SDPA.jl
  src/Test/UnitTests/basic_constraint_tests.jl
  src/Test/contlinear.jl
  src/Utilities/functions.jl
  src/Utilities/mutable_arithmetics.jl
  src/Utilities/parser.jl
  src/Utilities/results.jl
  src/deprecate.jl
  src/functions.jl
  test/Bridges/Constraint/indicator_activate_on_zero.jl
  test/Bridges/Constraint/indicator_sos.jl
  test/FileFormats/MOF/MOF.jl
  test/deprecate.jl
Labels: breaking

#1317 Minor fixes to CachingOptimizer
  src/Utilities/cachingoptimizer.jl
Labels: Submodule: Utilities, Type: Performance

#1307 [breaking] Rename MOIU.supports_default_copy_to to MOI.supports_incremental_interface
  docs/src/manual/implementing.md
  docs/src/reference/models.md
  docs/src/submodules/Test/overview.md
  docs/src/submodules/Utilities/reference.md
  src/Bridges/bridge_optimizer.jl
  src/MathOptInterface.jl
  src/Test/contconic.jl
  src/Test/contlinear.jl
  src/Test/contquadratic.jl
  src/Test/intconic.jl
  src/Test/intlinear.jl
  src/Test/modellike.jl
  src/Utilities/cachingoptimizer.jl
  src/Utilities/copy.jl
  src/Utilities/mockoptimizer.jl
  src/Utilities/model.jl
  src/Utilities/universalfallback.jl
  src/instantiate.jl
  test/Utilities/cachingoptimizer.jl
  test/Utilities/copy.jl
Labels: breaking

#1321 Fix inference in CachingOptimizer
  src/Utilities/cachingoptimizer.jl
  test/Utilities/cachingoptimizer.jl
Labels: Type: Performance

#1309 Add NL file writer.
  docs/src/submodules/FileFormats/overview.md
  src/FileFormats/FileFormats.jl
  src/FileFormats/NL/NL.jl
  src/FileFormats/NL/NLExpr.jl
  src/FileFormats/NL/opcode.jl
  test/FileFormats/FileFormats.jl
  test/FileFormats/NL/NL.jl
Labels: Submodule: FileFormats

#1328 Fix invalidation of println
  src/FileFormats/MPS/MPS.jl
Labels: Type: Performance

#1332 Update to MOF 0.6
  docs/src/submodules/FileFormats/overview.md
  src/FileFormats/MOF/MOF.jl
  src/FileFormats/MOF/mof.0.6.schema.json
  src/FileFormats/MOF/read.jl
  src/FileFormats/MOF/write.jl
  test/FileFormats/MOF/MOF.jl
  test/FileFormats/MOF/empty_model.mof.json
  test/FileFormats/MOF/empty_model.mof.json.gz
  test/FileFormats/MOF/failing_models/blank_variable_name.mof.json
  test/FileFormats/MOF/failing_models/missing_variable_name.mof.json
  test/FileFormats/MOF/failing_models/unsupported_constraint_function.mof.json
  test/FileFormats/MOF/failing_models/unsupported_constraint_set.mof.json
  test/FileFormats/MOF/failing_models/unsupported_objective_function.mof.json
  test/FileFormats/MOF/failing_models/unsupported_objective_sense.mof.json
  test/FileFormats/MOF/nlp.mof.json
Labels: Submodule: FileFormats

#1333 [breaking] move JSONSchema to a test dependency
  Project.toml
  docs/Project.toml
  docs/src/submodules/FileFormats/overview.md
  src/FileFormats/MOF/MOF.jl
  src/FileFormats/MOF/read.jl
  test/FileFormats/MOF/MOF.jl
  test/FileFormats/MOF/nonlinear.jl
Labels: Submodule: FileFormats, breaking

#1315 Lazily create storage in StructOfConstraints
  src/Utilities/model.jl
  src/Utilities/struct_of_constraints.jl
  src/Utilities/vector_of_constraints.jl
  test/Utilities/model.jl
Labels: Submodule: Utilities, Type: Performance

#1340 Fix an inference issue in Bridges
  src/Bridges/Bridges.jl
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Objective/Objective.jl
  src/Bridges/Variable/Variable.jl
Labels: Submodule: Bridges, Type: Performance

#1343 Simplify ListOfConstraintTypesPresent in Bridges
  src/Bridges/bridge_optimizer.jl
Labels: Submodule: Bridges, Type: Performance

#1344 Style fixes for Bridges
  docs/src/submodules/Bridges/overview.md
  src/Bridges/Bridges.jl
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridge.jl
  src/Bridges/Constraint/det.jl
  src/Bridges/Constraint/flip_sign.jl
  src/Bridges/Constraint/function_conversion.jl
  src/Bridges/Constraint/functionize.jl
  src/Bridges/Constraint/geomean.jl
  src/Bridges/Constraint/geomean_to_relentr.jl
  src/Bridges/Constraint/indicator_activate_on_zero.jl
  src/Bridges/Constraint/indicator_sos.jl
  src/Bridges/Constraint/interval.jl
  src/Bridges/Constraint/ltgt_to_interval.jl
  src/Bridges/Constraint/map.jl
  src/Bridges/Constraint/norm_spec_nuc_to_psd.jl
  src/Bridges/Constraint/norm_to_lp.jl
  src/Bridges/Constraint/quad_to_soc.jl
  src/Bridges/Constraint/relentr_to_exp.jl
  src/Bridges/Constraint/rsoc.jl
  src/Bridges/Constraint/scalarize.jl
  src/Bridges/Constraint/set_map.jl
  src/Bridges/Constraint/single_bridge_optimizer.jl
  src/Bridges/Constraint/slack.jl
  src/Bridges/Constraint/soc_to_nonconvex_quad.jl
  src/Bridges/Constraint/soc_to_psd.jl
  src/Bridges/Constraint/square.jl
  src/Bridges/Constraint/vectorize.jl
  src/Bridges/Constraint/zero_one.jl
  src/Bridges/Objective/Objective.jl
  src/Bridges/Objective/bridge.jl
  src/Bridges/Objective/functionize.jl
  src/Bridges/Objective/map.jl
  src/Bridges/Objective/single_bridge_optimizer.jl
  src/Bridges/Objective/slack.jl
  src/Bridges/Variable/Variable.jl
  src/Bridges/Variable/bridge.jl
  src/Bridges/Variable/flip_sign.jl
  src/Bridges/Variable/free.jl
  src/Bridges/Variable/map.jl
  src/Bridges/Variable/rsoc_to_psd.jl
  src/Bridges/Variable/rsoc_to_soc.jl
  src/Bridges/Variable/single_bridge_optimizer.jl
  src/Bridges/Variable/soc_to_rsoc.jl
  src/Bridges/Variable/vectorize.jl
  src/Bridges/Variable/zeros.jl
  src/Bridges/bridge.jl
  src/Bridges/bridge_optimizer.jl
  src/Bridges/debug.jl
  src/Bridges/graph.jl
  src/Bridges/lazy_bridge_optimizer.jl
Labels: Submodule: Bridges, Type: Performance

#1348 Ensure bridges return vectors that can be modified by the user
  src/Bridges/Constraint/det.jl
  src/Bridges/Constraint/geomean.jl
  src/Bridges/Constraint/norm_to_lp.jl
  src/Bridges/Constraint/relentr_to_exp.jl
  src/Bridges/Constraint/scalarize.jl
  src/Bridges/Constraint/slack.jl
  src/Bridges/Constraint/soc_to_nonconvex_quad.jl
  src/Bridges/Variable/flip_sign.jl
  src/Bridges/Variable/free.jl
  src/Bridges/Variable/rsoc_to_psd.jl
  src/Bridges/Variable/rsoc_to_soc.jl
  src/Bridges/Variable/soc_to_rsoc.jl
  src/Bridges/bridge_optimizer.jl
Labels: Submodule: Bridges

#1350 [bridges] unify IndexInVector
  src/Bridges/Constraint/bridge.jl
  src/Bridges/Constraint/flip_sign.jl
  src/Bridges/Constraint/functionize.jl
  src/Bridges/Constraint/scalarize.jl
  src/Bridges/Variable/bridge.jl
  src/Bridges/Variable/flip_sign.jl
  src/Bridges/Variable/free.jl
  src/Bridges/Variable/map.jl
  src/Bridges/Variable/rsoc_to_psd.jl
  src/Bridges/Variable/rsoc_to_soc.jl
  src/Bridges/Variable/soc_to_rsoc.jl
  src/Bridges/Variable/zeros.jl
  src/Bridges/bridge.jl
  src/Bridges/bridge_optimizer.jl
  test/Bridges/Variable/bridge.jl
  test/Bridges/Variable/map.jl
  test/Bridges/Variable/zeros.jl
Labels: Submodule: Bridges

#1354 Fix pass_nonvariable_constraints with bridged variables
  src/Bridges/bridge_optimizer.jl
  test/Bridges/lazy_bridge_optimizer.jl
Labels: Type: Bug, backport 0.9

#1319 [breaking] modify type of RawParameter
  NEWS.md
  docs/src/manual/implementing.md
  docs/src/reference/models.md
  src/Utilities/cachingoptimizer.jl
  src/attributes.jl
  src/deprecate.jl
  src/instantiate.jl
  test/Utilities/cachingoptimizer.jl
  test/deprecate.jl
  test/instantiate.jl
Labels: breaking

#1355 Refactor FileFormats into functional tests
  test/FileFormats/CBF/CBF.jl
  test/FileFormats/FileFormats.jl
  test/FileFormats/LP/LP.jl
  test/FileFormats/MOF/MOF.jl
  test/FileFormats/MOF/nonlinear.jl
  test/FileFormats/MPS/MPS.jl
  test/FileFormats/SDPA/SDPA.jl
Labels: Submodule: Tests

#1312 [breaking] error on SingleVariable ConstraintNames
  docs/src/manual/implementing.md
  src/Bridges/bridge_optimizer.jl
  src/FileFormats/MOF/write.jl
  src/FileFormats/utils.jl
  src/Test/UnitTests/basic_constraint_tests.jl
  src/Test/UnitTests/constraints.jl
  src/Test/UnitTests/modifications.jl
  src/Test/UnitTests/objectives.jl
  src/Test/UnitTests/solve.jl
  src/Test/UnitTests/variables.jl
  src/Test/modellike.jl
  src/Utilities/copy.jl
  src/Utilities/functions.jl
  src/Utilities/mockoptimizer.jl
  src/Utilities/model.jl
  src/Utilities/parser.jl
  src/Utilities/universalfallback.jl
  src/attributes.jl
  test/Bridges/Constraint/indicator_sos.jl
  test/Bridges/Constraint/semi_to_binary.jl
  test/Bridges/Constraint/zero_one.jl
  test/Bridges/Objective/slack.jl
  test/Bridges/Variable/rsoc_to_psd.jl
  test/Bridges/Variable/vectorize.jl
  test/Bridges/Variable/zeros.jl
  test/Bridges/bridge_optimizer.jl
  test/FileFormats/CBF/CBF.jl
  test/FileFormats/LP/LP.jl
  test/FileFormats/MOF/MOF.jl
  test/FileFormats/MOF/nlp.mof.json
  test/FileFormats/MOF/v0.4.mof.json
  test/FileFormats/MPS/MPS.jl
  test/FileFormats/SDPA/SDPA.jl
  test/Utilities/parser.jl
  test/attributes.jl
Labels: breaking

#1358 Correct type in ProductOfConstraints
  src/Utilities/product_of_sets.jl
Labels: Submodule: Utilities, Type: Bug

#1366 Prep for 0.9.22
  NEWS.md
Labels: backport 0.9

#1365 Enable CI on release branches
  .github/workflows/ci.yml
Labels: backport 0.9

#1361 Remove is_empty assertion in CachingOptimizer
  src/Utilities/cachingoptimizer.jl
  test/Utilities/cachingoptimizer.jl
Labels: Submodule: Utilities

#1367 Fix pass_nonvariable_constraints with bridged variables bis
  src/Bridges/bridge_optimizer.jl
  test/Bridges/lazy_bridge_optimizer.jl
Labels: Submodule: Bridges, Type: Bug, backport 0.9

#1369 Add tests for Utilities/sparse_matrix.jl
  src/Utilities/sparse_matrix.jl
  test/Utilities/sparse_matrix.jl
Labels: Submodule: Utilities

#1370 Document API of MatrixOfConstraints
  docs/src/submodules/Utilities/reference.md
  src/Utilities/matrix_of_constraints.jl
  src/Utilities/product_of_sets.jl
  src/Utilities/sparse_matrix.jl
Labels: Submodule: Utilities

#1368 Various changes and refactoring of ProductOfSets
  docs/src/submodules/Utilities/reference.md
  src/Utilities/matrix_of_constraints.jl
  src/Utilities/product_of_sets.jl
  test/Utilities/matrix_of_constraints.jl
  test/Utilities/product_of_sets.jl
Labels: Submodule: Utilities

#1374 Add conic test with starting values
  src/Bridges/bridge_optimizer.jl
  src/Test/UnitTests/constraints.jl
  test/Test/unit.jl
Labels: Submodule: Tests

#1377 Document and test zero_with_output_dimension
  docs/src/submodules/Utilities/reference.md
  src/Utilities/functions.jl
  test/Utilities/functions.jl
Labels: Submodule: Utilities

#1375 Document order of multiple solutions
  src/attributes.jl
Labels: Type: Documentation
