Repository jump-dev/MathOptInterface.jl, pull requests merged in 2021-09, with the labels that each got.

#1557 Replace filter_constraints with ModelFilter
  docs/src/submodules/Utilities/overview.md
  docs/src/submodules/Utilities/reference.md
  src/Bridges/bridge_optimizer.jl
  src/Test/test_model.jl
  src/Utilities/cachingoptimizer.jl
  src/Utilities/copy.jl
  src/Utilities/matrix_of_constraints.jl
  src/Utilities/model.jl
  src/Utilities/universalfallback.jl
  test/Utilities/copy.jl
Labels: breaking

#1565 [docs] move NEWS to the documentation
  NEWS.md
  docs/make.jl
  docs/src/release_notes.md
Labels: Type: Documentation

#1567 [Test] Add SecondOrderCone tests from Gurobi.jl
  src/Test/test_conic.jl
Labels: Submodule: Tests

#1568 [Test] add indicator tests from Gurobi.jl
  src/Test/test_constraint.jl
  src/sets.jl
Labels: Submodule: Tests

#1566 [docs] add tutorial on latency
  docs/make.jl
  docs/src/tutorials/latency.md
Labels: Type: Documentation

#1570 [docs] update docs to build on Julia 1.6
  .github/workflows/documentation.yml
  docs/Project.toml
  docs/src/manual/constraints.md
  docs/src/manual/modification.md
  docs/src/manual/variables.md
  docs/src/submodules/Bridges/implementation.md
  docs/src/submodules/Bridges/overview.md
  docs/src/submodules/FileFormats/overview.md
  docs/src/submodules/Utilities/overview.md
  docs/src/tutorials/example.md
  docs/src/tutorials/manipulating_expressions.md
  src/Bridges/Constraint/bridge.jl
  src/Bridges/Variable/bridge.jl
Labels: Type: Documentation

#1569 Update release notes with latest changes
  docs/src/release_notes.md
Labels: Type: Documentation

#1580 [Bridges] maintenance of norm_to_lp.jl
  src/Bridges/Constraint/norm_to_lp.jl
Labels: Submodule: Bridges

#1579 [Bridges] maintenance of relentr_to_exp.jl
  src/Bridges/Constraint/relentr_to_exp.jl
Labels: Submodule: Bridges

#1578 [Bridges] maintenance of norm_spec_nuc_to_psd.jl
  src/Bridges/Constraint/norm_spec_nuc_to_psd.jl
Labels: Submodule: Bridges

#1575 [Bridges] maintenance of vectorize.jl
  src/Bridges/Constraint/vectorize.jl
Labels: Submodule: Bridges

#1577 [Bridges] maintenance of interval.jl
  src/Bridges/Constraint/interval.jl
Labels: Submodule: Bridges

#1576 [Bridges] maintenance of slack.jl
  src/Bridges/Constraint/slack.jl
  src/Bridges/bridge_optimizer.jl
Labels: Submodule: Bridges

#1561 Document interface expected by subtypes
  docs/src/manual/models.md
  docs/src/reference/models.md
  docs/src/tutorials/implementing.md
  src/MathOptInterface.jl
Labels: Type: Documentation

#1582 [Bridges] maintenance of scalarize.jl
  src/Bridges/Constraint/scalarize.jl
Labels: Submodule: Bridges

#1583 [Bridges] maintenance of geomean_to_relentr.jl
  src/Bridges/Constraint/geomean_to_relentr.jl
Labels: Submodule: Bridges

#1584 [Bridges] maintenance of semi_to_binary.jl
  src/Bridges/Constraint/semi_to_binary.jl
Labels: Submodule: Bridges

#1574 [Bridges] maintenance of zero_one.jl
  src/Bridges/Constraint/zero_one.jl
  test/Bridges/Constraint/zero_one.jl
Labels: Submodule: Bridges

#1581 [Bridges] maintenance of det.jl
  src/Bridges/Constraint/det.jl
Labels: Submodule: Bridges

#1585 [breaking] [Bridges] Refactor IndicatorSOS1Bridge
  src/Bridges/Constraint/indicator_sos.jl
  test/Bridges/Constraint/indicator_sos.jl
Labels: breaking, Submodule: Bridges

#1593 [Test] change exact comparison to approx
  src/Test/test_conic.jl
Labels: Submodule: Tests

#1594 [Test] relax inferred in attribute_value_type
  src/Test/Test.jl
Labels: Submodule: Tests

#1595 [Test] fix bug in test_solve_SOS2_add_and_delete
  src/Test/test_solve.jl
Labels: Submodule: Tests

#1598 [FileFormats] Bump version of JSONSchema.jl
  Project.toml
  test/FileFormats/MOF/MOF.jl
Labels: Submodule: FileFormats

#1597 [FileFormats] Update to MathOptFormat v1.0
  docs/src/submodules/FileFormats/overview.md
  src/FileFormats/MOF/MOF.jl
  src/FileFormats/MOF/mof.1.0.schema.json
  src/FileFormats/MOF/read.jl
  src/FileFormats/MOF/write.jl
  test/FileFormats/MOF/MOF.jl
  test/FileFormats/MOF/empty_model.mof.json
  test/FileFormats/MOF/failing_models/blank_variable_name.mof.json
  test/FileFormats/MOF/failing_models/missing_variable_name.mof.json
  test/FileFormats/MOF/failing_models/unsupported_constraint_function.mof.json
  test/FileFormats/MOF/failing_models/unsupported_constraint_set.mof.json
  test/FileFormats/MOF/failing_models/unsupported_objective_function.mof.json
  test/FileFormats/MOF/failing_models/unsupported_objective_sense.mof.json
  test/FileFormats/MOF/nlp.mof.json
  test/FileFormats/MOF/v0.4.mof.json
Labels: Submodule: FileFormats

#1602 [Test] minor updates to tests from SCS.jl
  src/Test/test_conic.jl
  src/Test/test_model.jl
  src/Test/test_objective.jl
Labels: Submodule: Tests

#1599 [Test] Minor fixes in nonlinear tests
  src/Test/test_nonlinear.jl
Labels: Submodule: Tests

#1611 [Test] more misc fixes from SCS
  src/Bridges/Constraint/geomean.jl
  src/Test/test_basic_constraint.jl
Labels: Submodule: Tests

#1613 [Utilities] throw UnsupportedAttribute in pass_attributes
  src/Utilities/copy.jl
Labels: Submodule: Utilities

#1612 [Bridges] Fix ListOfConstraintAttributesSet
  src/Bridges/bridge_optimizer.jl
  test/Bridges/bridge_optimizer.jl
Labels: Submodule: Bridges

#1608 Fix modifications in bridge_optimizer
  src/Bridges/Constraint/functionize.jl
  src/Bridges/bridge_optimizer.jl
  src/Test/test_modification.jl
  src/Test/test_objective.jl
  test/Bridges/Constraint/functionize.jl
  test/Bridges/bridge_optimizer.jl
Labels: Type: Bug, Submodule: Bridges, Submodule: Tests

#1615 [Utilities] fix emptying of CachingOptimizer
  src/Utilities/cachingoptimizer.jl
  test/Utilities/cachingoptimizer.jl
Labels: Type: Bug, Submodule: Utilities

#1618 [Utilities] allow callbacks through CachingOptimizer
  src/Utilities/cachingoptimizer.jl
Labels: Type: Bug, Submodule: Utilities
