Repository jump-dev/MathOptInterface.jl, pull requests merged in 2022-08, with the labels that each got.

#1974 [FileFormats.LP] add support for quadratic problems
  src/FileFormats/LP/LP.jl
  test/FileFormats/LP/LP.jl
  test/FileFormats/LP/models/model1_tricky.lp
  test/FileFormats/LP/models/tricky_quadratic.lp
Labels: Submodule: FileFormats

#1958 [Bridges] add IndicatorSetMapBridge
  docs/src/submodules/Bridges/list_of_bridges.md
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/indicator_flipsign.jl
  test/Bridges/Constraint/indicator_flipsign.jl
Labels: Submodule: Bridges

#1976 Clarify assumption for SOC bridge
  src/Bridges/Constraint/bridges/soc_rsoc.jl
Labels: Type: Documentation, Submodule: Bridges

#1979 [Bridges] add Objective.Quadratize bridge
  docs/src/submodules/Bridges/list_of_bridges.md
  src/Bridges/Bridges.jl
  src/Bridges/Objective/Objective.jl
  src/Bridges/Objective/bridges/quadratize.jl
  test/Bridges/Objective/quadratize.jl
Labels: Submodule: Bridges

#1977 [Bridges] Add hermitian bridge for constraints
  docs/src/submodules/Bridges/list_of_bridges.md
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/hermitian.jl
  src/Utilities/functions.jl
  src/Utilities/matrix_of_constraints.jl
  src/Utilities/sets.jl
  test/Bridges/Constraint/hermitian.jl
Labels: Submodule: Bridges

#1968 [Bridges] add GeoMeanToPowerBridge
  docs/src/submodules/Bridges/list_of_bridges.md
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/geomean_to_power.jl
  test/Bridges/Constraint/geomean_to_power.jl
Labels: Submodule: Bridges

#1982 [Test] remove dual test in Hermitian_2
  src/Test/test_conic.jl
Labels: Submodule: Tests

#1984 [Nonlinear] lazily build ::Expr representaton of subexpressions
  src/Nonlinear/evaluator.jl
  src/Nonlinear/types.jl
Labels: Project: next-gen nonlinear support

#1961 Add HyperRectangle set
  docs/src/manual/standard_form.md
  docs/src/reference/standard_form.md
  docs/src/submodules/Bridges/list_of_bridges.md
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/split_hyperrectangle.jl
  src/Test/test_basic_constraint.jl
  src/Test/test_linear.jl
  src/Utilities/model.jl
  src/sets.jl
  test/Bridges/Constraint/hyper_rectangle.jl
  test/sets.jl
Labels: Type: Set Request

#1955 Add Reified set and MILP bridges
  docs/src/reference/standard_form.md
  docs/src/submodules/Bridges/list_of_bridges.md
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/all_different_reif.jl
  src/Bridges/Constraint/bridges/count_distinct_reif.jl
  src/Test/test_cpsat.jl
  src/sets.jl
  test/Bridges/Constraint/all_different_reif.jl
  test/Bridges/Constraint/count_distinct_reif.jl
  test/sets.jl
Labels: Status: Needs review, Project: constraint programming

#1987 [Nonlinear] add support for atan2
  src/FileFormats/NL/NLExpr.jl
  src/Nonlinear/operators.jl
  test/FileFormats/NL/NL.jl
  test/FileFormats/NL/read.jl
  test/Nonlinear/Nonlinear.jl
Labels: Submodule: FileFormats, Project: next-gen nonlinear support, Submodule: Nonlinear
