Repository jump-dev/MathOptInterface.jl, pull requests merged in 2022-02, with the labels that each got.

#1731 Fix performance of MutableArithmetics
  src/Utilities/mutable_arithmetics.jl
Labels: Type: Performance

#1739 [docs] Bump JSONSchema.jl
  docs/Project.toml
  docs/src/submodules/FileFormats/overview.md
Labels: Type: Documentation

#1742 Initial prep for v1.0 release
  .github/workflows/CompatHelper.yml
  .github/workflows/ci.yml
  Project.toml
  src/Bridges/Bridges.jl
  src/MathOptInterface.jl
  src/Test/Test.jl
  src/Utilities/Utilities.jl
Labels: breaking

#1743 [breaking] remove deprecations
  .codecov.yml
  src/DeprecatedTest/DeprecatedTest.jl
  src/DeprecatedTest/UnitTests/attributes.jl
  src/DeprecatedTest/UnitTests/basic_constraint_tests.jl
  src/DeprecatedTest/UnitTests/constraints.jl
  src/DeprecatedTest/UnitTests/modifications.jl
  src/DeprecatedTest/UnitTests/objectives.jl
  src/DeprecatedTest/UnitTests/solve.jl
  src/DeprecatedTest/UnitTests/unit_tests.jl
  src/DeprecatedTest/UnitTests/variables.jl
  src/DeprecatedTest/config.jl
  src/DeprecatedTest/contconic.jl
  src/DeprecatedTest/contlinear.jl
  src/DeprecatedTest/contquadratic.jl
  src/DeprecatedTest/intconic.jl
  src/DeprecatedTest/intlinear.jl
  src/DeprecatedTest/modellike.jl
  src/DeprecatedTest/nlp.jl
  src/MathOptInterface.jl
  src/Utilities/CleverDicts.jl
  src/Utilities/Utilities.jl
  src/Utilities/copy.jl
  src/Utilities/functions.jl
  src/Utilities/mockoptimizer.jl
  src/attributes.jl
  src/deprecate.jl
  test/DeprecatedTest/DeprecatedTest.jl
  test/DeprecatedTest/config.jl
  test/DeprecatedTest/contconic.jl
  test/DeprecatedTest/contlinear.jl
  test/DeprecatedTest/contquadratic.jl
  test/DeprecatedTest/intconic.jl
  test/DeprecatedTest/intlinear.jl
  test/DeprecatedTest/modellike.jl
  test/DeprecatedTest/nlp.jl
  test/DeprecatedTest/unit.jl
  test/Utilities/CleverDicts.jl
  test/Utilities/mockoptimizer.jl
  test/deprecate.jl
  test/runtests.jl
Labels: breaking

#1753 Throw DeleteNotAllowed when deleted constraint index of bridged varaiables
  src/Bridges/bridge_optimizer.jl
  test/Bridges/Variable/zeros.jl
Labels: Submodule: Bridges

#1755 Canonicalize function in add_constraint for MatrixOfConstraints
  src/Utilities/matrix_of_constraints.jl
  test/Utilities/matrix_of_constraints.jl
Labels: Type: Bug, Submodule: Utilities

#1752 Fix modify scalar constants with bridged variables
  src/Bridges/bridge_optimizer.jl
  test/Bridges/bridge_optimizer.jl
Labels: Type: Bug, Submodule: Bridges

#1754 Call final_touch in optimize in CachingOptimizer
  src/Utilities/cachingoptimizer.jl
  test/Utilities/cachingoptimizer.jl
Labels: Submodule: Utilities
