Repository jump-dev/MathOptInterface.jl, pull requests merged in 2022-06, with the labels that each got.

#1875 [Bridges] remove implementation.md in favor of docstrings
  docs/make.jl
  docs/src/submodules/Bridges/implementation.md
  docs/src/submodules/Bridges/list_of_bridges.md
  docs/src/submodules/Bridges/reference.md
  src/Bridges/Constraint/bridge.jl
  src/Bridges/Objective/bridge.jl
  src/Bridges/Variable/bridge.jl
  src/Bridges/bridge.jl
Labels: Submodule: Bridges

#1876 [Bridges] tidy function_conversion bridges
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/functionize.jl
  src/Bridges/Constraint/function_conversion.jl
Labels: Submodule: Bridges

#1877 [Bridges] tidy various Constraint bridges
  src/Bridges/Constraint/bridges/flip_sign.jl
  src/Bridges/Constraint/bridges/geomean_to_relentr.jl
  src/Bridges/Constraint/bridges/indicator_activate_on_zero.jl
  src/Bridges/Constraint/bridges/indicator_sos.jl
Labels: Submodule: Bridges

#1878 [Bridges] more updates to docstrings
  src/Bridges/Constraint/bridges/geomean.jl
  src/Bridges/Constraint/bridges/interval.jl
  src/Bridges/Constraint/bridges/ltgt_to_interval.jl
  src/Bridges/Constraint/bridges/zero_one.jl
Labels: Submodule: Bridges

#1881 [Bridges] remove acronyms from .Variable
  src/Bridges/Variable/Variable.jl
  src/Bridges/Variable/map.jl
  src/Bridges/Variable/set_map.jl
Labels: Submodule: Bridges

#1880 [Bridges] more docstrings for bridges
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/norm_infinity.jl
  src/Bridges/Constraint/bridges/norm_one.jl
  src/Bridges/Constraint/bridges/slack.jl
  src/Bridges/Constraint/bridges/soc_to_nonconvex_quad.jl
  src/Bridges/Constraint/bridges/soc_to_psd.jl
Labels: Submodule: Bridges

#1883 [Bridges] add unified testing infrastructure
  src/Bridges/Bridges.jl
  src/Bridges/Constraint/bridges/geomean.jl
  src/Bridges/Constraint/bridges/geomean_to_relentr.jl
  src/Bridges/Constraint/bridges/semi_to_binary.jl
  src/Bridges/Constraint/bridges/slack.jl
  src/Bridges/Constraint/bridges/vectorize.jl
  src/Bridges/Constraint/set_map.jl
  test/Bridges/Constraint/flip_sign.jl
  test/Bridges/Constraint/functionize.jl
  test/Bridges/Constraint/geomean.jl
  test/Bridges/Constraint/geomean_to_relentr.jl
  test/Bridges/Constraint/rsoc.jl
  test/Bridges/Constraint/semi_to_binary.jl
  test/Bridges/Constraint/slack.jl
  test/Bridges/Constraint/soc_to_nonconvex_quad.jl
  test/Bridges/Constraint/soc_to_psd.jl
  test/Bridges/Constraint/vectorize.jl
  test/Bridges/Constraint/zero_one.jl
  test/Bridges/Objective/functionize.jl
  test/Bridges/Objective/slack.jl
Labels: Submodule: Bridges

#1825 Add support for Constraint Programming
  docs/src/reference/standard_form.md
  src/Test/test_basic_constraint.jl
  src/Test/test_cpsat.jl
  src/Utilities/model.jl
  src/sets.jl
  test/sets.jl
Labels: Project: constraint programming

#1885 [Bridges] add more tests for uncovered methods
  src/Bridges/Bridges.jl
Labels: Submodule: Bridges

#1887 [FileFormats.NL] fix univariate OPMULT
  src/FileFormats/NL/NLExpr.jl
  test/FileFormats/NL/NL.jl
Labels: Type: Bug, Submodule: FileFormats, Project: next-gen nonlinear support

#1889 [Bridges] more docstrings and tests
  src/Bridges/Constraint/bridges/det.jl
  src/Bridges/Constraint/bridges/norm_one.jl
  src/Bridges/Constraint/bridges/norm_spec_nuc_to_psd.jl
  src/Bridges/Constraint/bridges/quad_to_soc.jl
  src/Bridges/Constraint/bridges/relentr_to_exp.jl
  test/Bridges/Constraint/det.jl
  test/Bridges/Constraint/norm_spec_nuc_to_psd.jl
  test/Bridges/Constraint/quad_to_soc.jl
  test/Bridges/Constraint/relentr_to_exp.jl
Labels: Submodule: Bridges

#1891 [Bridges] tidy SquareBridge
  src/Bridges/Constraint/bridges/square.jl
  test/Bridges/Constraint/square.jl
Labels: Submodule: Bridges

#1895 [Bridges] add more runtests
  src/Bridges/Constraint/bridges/indicator_sos.jl
  src/Bridges/Constraint/bridges/interval.jl
  src/Bridges/Constraint/bridges/norm_one.jl
  test/Bridges/Constraint/indicator_sos.jl
  test/Bridges/Constraint/interval.jl
  test/Bridges/Constraint/ltgt_to_interval.jl
  test/Bridges/Constraint/norm_to_lp.jl
  test/Bridges/Constraint/scalarize.jl
Labels: Submodule: Bridges

#1894 [Bridges] fix typos in bridge docstrings
  src/Bridges/Constraint/bridges/det.jl
  src/Bridges/Constraint/bridges/geomean.jl
  src/Bridges/Constraint/bridges/indicator_activate_on_zero.jl
  src/Bridges/Constraint/bridges/norm_spec_nuc_to_psd.jl
  src/Bridges/Constraint/bridges/relentr_to_exp.jl
  src/Bridges/Constraint/bridges/rsoc_soc.jl
  src/Bridges/Constraint/bridges/semi_to_binary.jl
  src/Bridges/Constraint/bridges/soc_rsoc.jl
  src/Bridges/Constraint/bridges/soc_to_nonconvex_quad.jl
  src/Bridges/Constraint/bridges/soc_to_psd.jl
  src/Bridges/Variable/bridges/rsoc_soc.jl
Labels: Type: Documentation, Submodule: Bridges

#1897 [Bridges] add tests and functionality for IndicatorActiveOnFalseBridge
  src/Bridges/Constraint/bridges/indicator_activate_on_zero.jl
  test/Bridges/Constraint/indicator_activate_on_zero.jl
Labels: Submodule: Bridges

#1896 [Bridges] add tests for Variable bridges
  src/Bridges/Bridges.jl
  src/Utilities/parser.jl
  test/Bridges/Variable/flip_sign.jl
  test/Bridges/Variable/free.jl
  test/Bridges/Variable/rsoc_to_psd.jl
  test/Bridges/Variable/rsoc_to_soc.jl
  test/Bridges/Variable/soc_to_rsoc.jl
  test/Bridges/Variable/vectorize.jl
  test/Utilities/parser.jl
Labels: Submodule: Bridges

#1866 [Bridges] add print_active_bridges to print optimal hyper-path
  docs/src/submodules/Bridges/reference.md
  src/Bridges/Bridges.jl
  src/Bridges/debug.jl
  test/Bridges/debug.jl
Labels: Submodule: Bridges, Status: Needs review

#1839 [Bridges] Fix bug in dual of PSDConeSquare bridge
  src/Bridges/Constraint/bridges/square.jl
  test/Bridges/Constraint/square.jl
Labels: Type: Bug, Submodule: Bridges, Status: Needs review

#1884 [Bridges] add constraint programming bridges
  docs/src/submodules/Bridges/list_of_bridges.md
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/bin_packing.jl
  src/Bridges/Constraint/bridges/table.jl
  test/Bridges/Constraint/bin_packing.jl
  test/Bridges/Constraint/table.jl
Labels: Submodule: Bridges, Project: constraint programming

#1905 Remove BinPackingToMILPBridge from add_all_bridges
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/bin_packing.jl
  src/sets.jl
Labels: Type: Bug, Submodule: Bridges, Project: constraint programming

#1909 [docs] improve documentation of nonlinear API
  src/nlp.jl
Labels: Type: Documentation, Project: next-gen nonlinear support

#1912 [Bridges] remove last acronyms
  src/Bridges/Bridges.jl
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/det.jl
  src/Bridges/Constraint/bridges/quad_to_soc.jl
  src/Bridges/bridge_optimizer.jl
  src/Bridges/debug.jl
  src/Bridges/lazy_bridge_optimizer.jl
  src/Bridges/set_map.jl
  test/Bridges/identity_bridge.jl
Labels: Submodule: Bridges

#1913 [Bridges] begin commenting bridge_optimizer.jl
  src/Bridges/bridge_optimizer.jl
  test/Bridges/bridge_optimizer.jl
Labels: Submodule: Bridges

#1915 [Test] fix ZeroOne tests with lower and upper bounds
  src/Test/test_variable.jl
Labels: Submodule: Tests

#1904 [docs] Document square PSD duality convention
  docs/src/background/duality.md
  src/Bridges/Constraint/bridges/square.jl
Labels: Type: Documentation, Submodule: Bridges

#1901 [Bridges] add final_touch
  docs/src/submodules/Bridges/list_of_bridges.md
  docs/src/submodules/Bridges/reference.md
  src/Bridges/Bridges.jl
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/count_distinct.jl
  src/Bridges/Constraint/map.jl
  src/Bridges/bridge.jl
  src/Bridges/bridge_optimizer.jl
  test/Bridges/Constraint/count_distinct.jl
Labels: Submodule: Bridges, Project: constraint programming

#1919 [Bridges] add CountBelongsToMILPBridge
  docs/src/submodules/Bridges/list_of_bridges.md
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/count_belongs.jl
  src/Bridges/Constraint/bridges/semi_to_binary.jl
  src/Test/test_cpsat.jl
  test/Bridges/Constraint/count_belongs.jl
  test/Bridges/Constraint/semi_to_binary.jl
Labels: Submodule: Bridges, Project: constraint programming

#1923 [Bridges] add AllDifferentToCountDistinctBridge
  docs/src/submodules/Bridges/list_of_bridges.md
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/all_different.jl
  src/Test/test_cpsat.jl
  test/Bridges/Constraint/all_different.jl
Labels: Submodule: Bridges, Project: constraint programming

#1920 [Bridges] add CountAtLeastToCountBelongsBridge
  docs/src/submodules/Bridges/list_of_bridges.md
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/count_at_least.jl
  test/Bridges/Constraint/count_at_least.jl
Labels: Submodule: Bridges, Project: constraint programming

#1925 [Bridges] update BinPackingToMILPBridge to final_touch
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/bin_packing.jl
  test/Bridges/Constraint/bin_packing.jl
Labels: Submodule: Bridges, Project: constraint programming

#1926 [Bridges] fix CountAtLeastToCountBelongsBridge
  src/Bridges/Constraint/bridges/count_at_least.jl
  test/Bridges/Constraint/count_at_least.jl
Labels: Submodule: Bridges, Project: constraint programming

#1928 [Bridges] revert changes included in #1919 by mistake
  src/Bridges/Constraint/bridges/semi_to_binary.jl
  test/Bridges/Constraint/semi_to_binary.jl
Labels: Submodule: Bridges

#1927 [Bridges] add CountGreaterThanToMILPBridge
  docs/src/submodules/Bridges/list_of_bridges.md
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/count_greater_than.jl
  src/Test/test_cpsat.jl
  test/Bridges/Constraint/count_greater_than.jl
Labels: Submodule: Bridges, Project: constraint programming

#1924 [Bridges] update SemiToBinaryBridge using final_touch
  src/Bridges/Constraint/bridges/semi_to_binary.jl
  test/Bridges/Constraint/semi_to_binary.jl
Labels: Submodule: Bridges, Status: Needs review

#1929 [Bridges] add CircuitToMILPBridge
  docs/src/submodules/Bridges/list_of_bridges.md
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/circuit.jl
  test/Bridges/Constraint/circuit.jl
Labels: Submodule: Bridges, Project: constraint programming

#1930 [Bridges] improve code coverage
  test/Bridges/Constraint/bin_packing.jl
  test/Bridges/Constraint/count_belongs.jl
  test/Bridges/Constraint/count_distinct.jl
Labels: Submodule: Bridges, Project: constraint programming

#1931 [Bridges] fix various docstrings for CSP
  src/Bridges/Constraint/bridges/bin_packing.jl
  src/Bridges/Constraint/bridges/count_at_least.jl
  src/Bridges/Constraint/bridges/count_belongs.jl
  src/Bridges/Constraint/bridges/table.jl
  src/sets.jl
Labels: Submodule: Bridges, Project: constraint programming
