Repository jump-dev/MathOptInterface.jl, pull requests merged in 2022-07, with the labels that each got.

#1938 [Bridges] remove unused ObjectiveAttribute
  src/Bridges/bridge_optimizer.jl
Labels: Submodule: Bridges

#1922 [Utilities] remove copy in modify_function
  src/Utilities/functions.jl
  src/Utilities/objective_container.jl
  src/Utilities/vector_of_constraints.jl
Labels: Status: Needs review

#1937 [Bridges] remove reduce_bridged in favor of explicit methods
  src/Bridges/bridge_optimizer.jl
Labels: Submodule: Bridges

#1942 Update PSDSquare_3 test after bridge change
  src/Test/test_conic.jl
Labels: Type: Bug

#1946 [Utilities] add support for non-Float64 number types in loadfromstring
  src/Utilities/parser.jl
  test/Utilities/parser.jl
Labels: Submodule: Utilities, Project: generic number support

#1950 [Bridges] rename SplitZeros to SplitComplexZeros
  docs/src/submodules/Bridges/list_of_bridges.md
  src/Bridges/Constraint/Constraint.jl
  src/Bridges/Constraint/bridges/split_complex_zeros.jl
  test/Bridges/Constraint/split_complex_zeros.jl
  test/Bridges/lazy_bridge_optimizer.jl
Labels: Submodule: Bridges, Project: generic number support

#1951 [Bridges] fix tests for SplitComplexZerosBridge
  src/Bridges/Bridges.jl
  src/Bridges/Constraint/bridges/split_complex_zeros.jl
  src/Utilities/parser.jl
  test/Bridges/Constraint/split_complex_zeros.jl
Labels: Submodule: Bridges, Project: generic number support

#1952 Clarify how to implement the ConstraintFunction getter
  docs/src/tutorials/bridging_constraint.md
Labels: Type: Documentation, Submodule: Bridges

#1953 [Bridges] fix ConstraintFunction getter of SplitComplexZerosBridge
  src/Bridges/Constraint/bridges/split_complex_zeros.jl
Labels: Submodule: Bridges, Project: generic number support

#1954 [FileFormats.MOF] update to MOF@v1.1
  docs/src/submodules/FileFormats/overview.md
  src/FileFormats/MOF/MOF.jl
  src/FileFormats/MOF/mof.1.1.schema.json
  src/FileFormats/MOF/read.jl
  src/FileFormats/MOF/write.jl
  test/FileFormats/MOF/MOF.jl
  test/FileFormats/MOF/empty_model.mof.json
  test/FileFormats/MOF/nlp.mof.json
Labels: Submodule: FileFormats, Project: constraint programming

#1956 [FileFormats.MPS] add writers for quadratic models
  src/FileFormats/MPS/MPS.jl
  test/FileFormats/MPS/MPS.jl
  test/FileFormats/MPS/failing_models/malformed_qcmatrix.mps
  test/FileFormats/MPS/failing_models/malformed_qmatrix.mps
  test/FileFormats/MPS/failing_models/malformed_qsection.mps
  test/FileFormats/MPS/failing_models/malformed_quadobj.mps
Labels: Submodule: FileFormats

#1957 [FileFormats.MPS] add Indicator support
  src/FileFormats/MPS/MPS.jl
  test/FileFormats/MPS/MPS.jl
  test/FileFormats/MPS/failing_models/malformed_indicator.mps
Labels: Submodule: FileFormats

#1960 [docs] tidy standard form page and add global constraints
  docs/src/manual/standard_form.md
Labels: Type: Documentation

#1969 [Test] add test for open Interval sets
  src/Test/test_linear.jl
Labels: Submodule: Tests

#1970 [Test] Tidy Complex Zeros tests
  src/Test/test_linear.jl
  test/Bridges/Constraint/split_complex_equalto.jl
  test/Bridges/Constraint/split_complex_zeros.jl
Labels: Submodule: Tests

#1962 Add HermitianPositiveSemidefiniteConeTriangle with bridges
  docs/src/manual/standard_form.md
  docs/src/reference/standard_form.md
  docs/src/submodules/Bridges/list_of_bridges.md
  src/Bridges/Variable/Variable.jl
  src/Bridges/Variable/bridges/hermitian.jl
  src/Test/Test.jl
  src/Test/test_conic.jl
  src/Utilities/results.jl
  src/sets.jl
  test/Bridges/Variable/hermitian.jl
Labels: Submodule: Bridges, Project: generic number support
